:root {
  --mainColor: #f6f8fa;
  --darkBlack: #2d2f31;
  --darkGray: #61666b;
  --gray: #d5d5d5;
  --lightGrey: #f2f2f2;
  --yellow: #fecb40;
  --red: #df113c;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Noto San JP', sans-serif;
}
body {
  width: 100%;
  height: auto;
  color: var(--darkBlack);
}

p {
  font-size: 14px;
}

.label-cart {
  padding-top: 15px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  cursor: pointer;
}
.logo {
  position: fixed;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: var(--darkBlack);
  color: var(--lightGrey);
  width: 100%;
  text-align: center;
  padding: 20px 350px 20px 20px;
  top: 0;
  z-index: 2;
}
.register, .login  {
  text-decoration: none;
  color: var(--lightGrey);
}

.register:hover, .login:hover {
  text-decoration: underline;
} 

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: var(--mainColor);
  z-index: 1;
  padding-top: 70px;
}

.sidebar-menu {
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  color: var(--darkGray);
  cursor: pointer;
}

.sidebar-menu > a {
  text-decoration: none;
  font-size: 0.7rem;
  line-height: 1.5;
  color: var(--darkGray);
}

.sidebar-menu:hover {
  border-right: 2px solid var(--yellow);
  color: var(--yellow);
}

.sidebar-menu:hover > a {
  color: var(--yellow);
}

.dashboard {
  height: 100%;
  width: 100%;
  padding-right: 360px;
  padding-left: 60px;
}
.dashboard-banner {
  width: 100%;
  height: 360px;
  position: relative;
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 30px;
  cursor: pointer;
}
.dashboard-banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.banner-promo {
  position: absolute;
  color: var(--darkGray);
  top: 30%;
  left: 25%;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 2px;
}
.banner-promo > h1 > span {
  color: var(--yellow);
}

.dashboard-title {
  padding: 0 1rem;
}

.dashboard-menu {
  display: flex;
  gap: 10px;
  padding: 0.5rem 1rem;
  overflow-x: auto;
}
.dashboard-menu-item {
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  padding: 0.5rem 0;
  min-width: 120px;
  font-size: 0.9rem;
  color: var(--darkBlack);
  background-color: var(--lightGrey);
}
.dashboard-menu-item:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dashboard-menu-item.active {
  background-color: var(--red);
  color: var(--lightGrey);
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 25px 20px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.dashboard-card {
  background-color: var(--mainColor);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}
.dashboard-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 6px 20px;
}

.dashboard-card:hover .order-product-btn {
  opacity: 1;
  visibility: visible;
  display: block;
}

.dashboard-card > img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
}
.dashboard-card .card-detail {
  padding: 1rem;
  line-height: 1.2;
}

.card-detail > h4 > span {
  float: right;
}
.card-time {
  color: var(--darkGray);
  font-size: 0.8rem;
  padding-top: 10px;
}

.dashboard-oder {
  width: 340px;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--mainColor);
  z-index: 3;
}

.dashboard-oder > h3 {
  padding: 10px 0;
}

.oder-address > h4 {
  line-height: 2;
}
.order-time {
  font-size: 00.8rem;
  color: var(--darkBlack);
}

.order-wrapper {
  height: 280px;
  width: 100%;
  overflow-y: scroll;
  margin: 20px 0;
}
.order-wrapper::-webkit-scrollbar {
  width: 7px;
}

.order-wrapper::-webkit-scrollbar-track {
  background-color: var(--lightGrey);
  border-radius: 20px;
}

.order-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--darkGray);
  border-radius: 20px;
}
.order-card {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.3fr;
  padding: 10px 0;
  gap: 5px;
  justify-content: space-around;
  align-items: flex-start;
}
.order-img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
}

.order-detail > input {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 2px solid var(--gray);
  border-radius: 10px;
  background-color: transparent;
}

.divider {
  width: 100%;
  border: 1px dashed var(--gray);
}
.order-total > p {
  padding: 10px 0;
}
.order-total > p > span {
  float: right;
  font-weight: 600;
}

.order-promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightGrey);
  border: 2px solid var(--gray);

  border-radius: 10px;
  height: 45px;
  padding: 0 0 0 5px;
  margin: 5px 0 15px 0;
}
.input-promo {
  height: 100%;
  background-color: transparent;
  border: none;
}
.delete-product-order-btn {
  width: 80px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: var(--gray);
  border: none;
}
.delete-product-order-btn:hover {
  color: var(--lightGrey);
  background-color: var(--darkBlack);
}
.button-promo {
  height: 100%;
  padding: 0 15px;
  background-color: var(--gray);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.button-promo:hover {
  background-color: var(--red);
  color: var(--lightGrey);
}

.order-product-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 25px;
  background-color: var(--red);
  color: var(--lightGrey);
  
  border-radius: 10px;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.order-product-btn:hover {
  
  font-size:20px
}

.order-price {
  height:70px;
}

.checkout {
  width: 90%;
  height: 40px;
  display: block;
  border-radius: 10px;
  margin: 15px auto 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0 5px 10px 3px;
  background-color: var(--red);
  color: var(--lightGrey);
  border: none;
  cursor: pointer;
}
.checkout:hover {
  background-color: var(--red);
  color: var(--lightGrey);
  border-color: var(--gray);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

#cart {
  display: none;
}
#cart:checked ~ .label-cart {
  color: var(--lightGrey);
}
#cart:checked ~ .dashboard {
  padding-right: 10px;
}
#cart:checked ~ .dashboard-oder {
  display: none;
}

#cart:checked ~ .logo {
  padding-right: 0px;
}

@media screen and (max-width: 680px) {
  .dashboard {
    padding-right: 0px;
    padding-left: 50px;
  }

  .dashboard-oder {
    width: 100%;
    left: 0;
  }
  .dashboard-banner > img {
    object-fit: fill;
  }
  .dashboard-oder {
    display: none;
  }
  #cart:checked ~ .dashboard-oder {
    display: block;
  }
  .logo {
    padding-right: 20px;
  }
  .label-cart {
    color: var(--lightGrey);
    padding-right: 15px;
  }
  #cart:checked ~ .label-cart {
    color: var(--darkGray);
  }
}
